.inletContainer h2 {
  grid-column: span 2;
  margin-top: 3em;
}

.BuyerInfo {
  grid-column: span 2;
  width: 100%;
  
}

.element {
  width: 40%;
  margin: 0 auto;
  margin-top: 1em;
}

form {
  font-size: 1.2em;
  width: 100%;
  background-color: #fce9ee;
  padding: 1em 0 0 0;
}

input {
  font-size: 1.2em;
  width: 100%;
  padding: 0.5em 1em;
  border-radius: 2em;
  border: none;  
}

.button input {
  font-size: 1.2em;
  background-color: #fce9ee00;
  width: auto;
  padding: 0.4em 2em;
  border-radius: 2em;
  border: .3em solid white;
  color: white;
  cursor: pointer;
  transition: .3s ease-in-out;
}

input:focus {
  
  background-color: #ffdce5;
}

.button input:hover {
  color: #ff5582;
  border: .3em solid #ff5582;
}

#belowForm {
  background-color:#fce9ee;
  padding-bottom: 2em;
  margin-bottom: 5em;
}