.ItemPage {
  width: 100%;
  min-height: 30em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.top {
  grid-column: span 2;
  background-size: cover;
  background-position-y: 25%;
  margin-top: 4em;
  height: 30vh;
}
.left,
.right {
  grid-column: span 1;
  margin-top: 6em;
  margin-bottom: 5em;
}

.left img {
  height: 30em;
  max-width: 100%;
}

.top#Buddha {
  background-image: url("../../Assets/StoreItems/BuddhaBg.jpg");
}

@media only screen and (max-width: 801px) {
  .ItemPage {
    grid-template-columns: repeat(1, 1fr);
  }

.top {
  grid-column: span 1;
}
}
