.Store {
  width: 100%;
}

/* SVG Logo */

.fullPage svg {
  height: 13em;
  margin-top: 8em;
}

.cls-c1 {
  fill: #abffcd;
}

.cls-c2 {
  fill: none;
  stroke: #f9a5c1;
  stroke-miterlimit: 10;
  stroke-width: 2px;
}

.cls-c3 {
  fill: #f9a5c1;
}

.cls-c4 {
  fill: #44d8d4;
}

.fullPage {
  background-image: url("../../Assets/Background.jpg");
  background-size: cover;
  background-position-y: 30%;
  height: 100vh;
}

.StoreItems a {
  margin-top: 0.5em;
}

.highlightCard {
  min-height: 45em;
  /* background: linear-gradient(-150deg, #fff4c2, #ffda8a); */
}

.highlightCard h2 {
  padding-top: 4em;
  margin-top: 1.5em;
  margin-bottom: -1em;
}

.highlightCard img {
  height: 30em;
  margin-bottom: 3em;
}

.banner {
  width: 100%;
  background: linear-gradient(180deg, #ff4756 30%, #e92b3b);
  height: 15em;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  list-style: none;
}

.itemsFront ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 30rem;
  list-style: none;
  padding: 0;
}

.itemsFront li {
  width: 100%;
  grid-column: span 1;
}

.itemsFront ul img {
  height: 15em;
  padding: 0.8em 0.5em;
}
/* 
#Matte {
  background: linear-gradient(160deg, #c2f1ff, #6eb9ff);
}

#Kerze {
  background: linear-gradient(-150deg, #fff4c2, #ffda8a);
}
 */

@media only screen and (max-width: 1024px) {
  .itemsFront ul {
    grid-template-columns: repeat(1, 1fr);
  }
  .itemsFront li {
    height: 40vw;
  }
}

