.sideBar {
  position: fixed;
  height: 4em;
  top: 0%;
  width: 100%;
  background-color: #222222;
  background: linear-gradient(175deg, #363636, #222222);
  
  box-shadow: #2727275b 0px 3px 10px;
}

.sideBar a {
  color: var(--color-main);
}

.sideBar a:hover {
  color: #f3e0e0;
}

.inlet {
  height: 100%;
  margin: 0 auto;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.leftSide, .rightSide {
  width: 10rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Social {
  display: flex;
  flex-direction: column;
  height: 2em;
  justify-content: space-around;
}

.Social svg {
  fill: #ffffff;
  height: 2em;
  transition: 0.5s;
}

.Social svg:hover {
  fill: rgba(255, 255, 255, 0.911);
}

.Cart a{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 3.5em;
}

.Cart svg {
  fill: none;
  stroke: white;
  stroke-width: .3em;
  height: 1.3em;
}