.LoginWith {
  display: flex;
  justify-content: space-between;
  width: 40em;
  margin: 0 auto;
  padding-top: 2em;
  margin-top: 5em;
  margin-bottom: 1em;
}

.LoginPage {
    background-color: #fce9ee;
    margin-bottom: 5em;
    padding-bottom: 3em;
}

.Google img {
  height: 3em;
  margin-bottom: 0;
}

span,
.Google{
  display: flex !important;
  align-items: center;
}
