/* Layout */

:root {
  --bg-color-main: #222222;
  --bg-color-white: #f3f3f3;
  --bg-color-highlight: #ff0062;
  --color-main: #ffffff;
  --color-secondary: #6f8aff;
  --color-highlight: #ff0062;
}

html,
body {
  overflow-x: hidden;
  font-size: 1rem;
  color: #222222;
  min-height: 100vh;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  background-color: var(--bg-color-white);
  background-position-x: 70%;
  background-position-y: 20%;
}

h1 {
  font-weight: 600;
  font-size: 2.5em;
}

h2 {
  font-weight: 600;
  font-size: 2.3em;
}

h3 {
  font-weight: 600;
  font-size: 1.8em;
}

h4,h5,h6 {
  font-weight: 600;
  font-size: 1.5em;
}

/* Container */

.card {
  height: 70vh;
  width: 50vw;
  margin: 0 auto;
  margin-top: 2em;
  background-color: var(--bg-color-white);
  box-shadow: #3131313b 0px 5px 10px;
}

.StoreItems img {
  height: 40vw;
}

@media only screen and (max-width: 681px) {
  html,body {
    font-size: 1.05rem;
  }
}

@media only screen and (min-width: 682px) and (max-width: 1024px) {
  html,body {
    font-size: 1rem;
  }
}



/* .container:hover {
    background-color: #ffffffbb;
} */

/* Buttons */

a {
  font-weight: 600;
  color: #222222;
  text-decoration: none;
  transition: color .5s;
}

a:hover {
  color: #646464;
}

.button {
  margin-top: 0.5em;
}

.button a {
  font-size: 1.5em;
  /*  background-color: #ff2b6a; */
  padding: 0.2em 0.7em 0.3em 0.7em;
  border: solid 0.08em var(--color-main);
  box-shadow: #3131313b 0px 5px 10px;
  transition: 1s;
}

.button a:hover {
  border: solid 0.08em #d4d4d4;
  color: #d4d4d4;
}

.quantityButton {
  margin: 0 auto;
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 5em;
}

.quantityButton button {
  font-size: 1.2em;
  border-radius: .8em;
  padding: 0.5em 1.5em;
  border: none;
  transition: 0.5s;
  cursor: pointer;
  background-color: white;
  border: 0.2em solid #ff0062;
  color: #ff0062;
  box-shadow: #2727273b 0px 2px 5px;
}

.quantityButton button:hover {
  background-color: #c2024b;
}

.quantityButton p {
  background-color: white;
  color: #272727;
  padding: 0.1em 1em;
  border-radius: 0.1em;
}

.checkButton button, .checkButton a {
  margin-top: 1em;
  font-size: 1.4em;
  border-radius: .8em;
  padding: 0.6em 1.5em;
  border: none;
  transition: 0.5s;
  cursor: pointer;
  background-color: #ff0062;
  color: white;
  box-shadow: #2727273b 0px 2px 5px;
}

.checkButton button:hover, .checkButton a:hover{
  background-color: #d40051;
}